
<h1 id="header">Edit Article</h1>
<div>

  <%= form_for @article do |f| %>

  <table class="table_without_border">
  <tr>
    <td class="column_with_width_defined"><%= f.label :Title %></td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
     <td class="column_with_width_defined"><%= f.label :Text %></td>
     <td><%= f.text_area :text %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.submit :Save, class: "nav_links" %></td>
  </tr>
  </table>

  <% end %>

</div>